
/****** Object:  StoredProcedure [dbo].[USP_UserSetup]    Script Date: 8/25/2019 10:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UserSetup]
(
		@USERSETUP UTYP_USERSETUP	READONLY,
		@RoleId INT
	
)
AS BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION

DECLARE @UserName VARCHAR(100)
DECLARE @EmailId VARCHAR(100)
Declare @UserId INT
DECLARE @CREATEDBY INT
SELECT @EmailId = [EMAIL], @UserId = [USER_ID], @CREATEDBY =[CREATED_BY] FROM @USERSETUP

SELECT @UserName  = SUBSTRING(@EmailId,0,charindex('@',@EmailId,0))

		MERGE dbo.USERS AS TGT	
				USING @USERSETUP AS SRC
					ON (TGT.[USER_ID] = SRC.[USER_ID])
		WHEN MATCHED
			THEN
			UPDATE 
				SET		TGT.[USER_NAME]			=	SRC.[USER_NAME]	
					,	TGT.[FIRST_NAME]			=	SRC.[FIRST_NAME]
					,	TGT.[MIDDLE_NAME]				=	SRC.[MIDDLE_NAME]	
					,	TGT.[LAST_NAME]				=	SRC.[LAST_NAME]
					,	TGT.[EMAIL]				=	SRC.[EMAIL]
					,	TGT.[PHONE_NO]				=	SRC.[PHONE_NO]
					,	TGT.MODIFIED_BY			=	SRC.[CREATED_BY]
					,	TGT.MODIFIED_DT				=	GETDATE()
			WHEN NOT MATCHED
			THEN
				INSERT ([USER_NAME]
					,	[FIRST_NAME]						
					,	[MIDDLE_NAME]	
					,	[LAST_NAME]
					,	[EMAIL]
					,	[PHONE_NO]
					,	[ACTIVE_IND]
					,	[CREATED_BY]
					,	[CREATED_DT]
					)
				
				VALUES(	@UserName
					,	[FIRST_NAME]
					,	[MIDDLE_NAME]	
					,	[LAST_NAME]
					,	[EMAIL]
					,	[PHONE_NO]
					,	1
					,	[CREATED_BY]
					,	GETDATE())
					OUTPUT inserted.USER_ID into @UserId
		; 
	

	UPDATE USER_ROLE_MAP SET ACTIVE_IND =0 WHERE USER_ID =@UserId

	INSERT  USER_ROLE_MAP SELECT @UserId, @RoleId , ROLE_NAME,1,  @CREATEDBY,@CREATEDBY, GETDATE(), GETDATE()
	FROM ROLES WHERE ROLE_ID =@RoleId


			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;				
			EXEC dbo.USP_INSERTERRORLOG	
	END CATCH
END





/****** Object:  StoredProcedure [dbo].[USP_GetUserDetails]    Script Date: 8/25/2019 10:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].USP_GetUserDetails
(
		@username VARCHAR(50)
	
)
AS BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION

		SELECT U.USER_ID, R.ROLE_ID, R.ROLE_NAME AS RoleName, U.FIRST_NAME AS FirstName, U.LAST_NAME AS LastName, U.EMAIL_ID AS Email, U.PHONE_NO AS PhoneNo   FROM USERS U
			LEFT JOIN USER_ROLE_MAP URM ON U.USER_ID = URM.USER_ID AND URM.ACTIVE_IND=1 AND U.ACTIVE_IND=1
			LEFT JOIN ROLES R ON R.USER_ID = URM.USER_ID  
			WHERE U.USER_NAME =@username

			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;				
			EXEC dbo.USP_INSERTERRORLOG	
	END CATCH
END

/****** Object:  StoredProcedure [dbo].[USP_UserSetup]    Script Date: 8/25/2019 10:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsUpdTrainerCourseSetUp]
(
		@TraCourse [UTYP_Trainer]	READONLY
	
)
AS BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION



		MERGE dbo.COURSE_TRAINER AS TGT	
				USING @TraCourse AS SRC
					ON (  TGT.[USER_ID]=SRC.[USER_ID])
		
			WHEN NOT MATCHED
			THEN
				INSERT ([COURSE_ID]
					,	[USER_ID]						
					,	[ACTIVE_IND]
					,	[CREATED_BY]
					,	[CREATED_DT]
					)
				
				VALUES([COURSE_ID]
					,	[USER_ID]
					,	1
					,	[CREATED_BY]
					,	GETDATE())
		
		WHEN MATCHED
			THEN
			UPDATE 
				SET		TGT.[COURSE_ID]			=	SRC.[COURSE_ID]	
					,	TGT.MODIFIED_BY			=	SRC.[CREATED_BY]
					,	TGT.MODIFIED_DT				=	GETDATE()
		;
	
			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;				
			EXEC dbo.USP_INSERTERRORLOG	
	END CATCH
END


/****** Object:  StoredProcedure [dbo].[USP_UserSetup]    Script Date: 8/25/2019 10:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsUpdGradeAssignment]
(
		@Grade [UTYP_GradesAssignment]	READONLY,
		@RoleId INT
	
)
AS BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION



		MERGE dbo.[STUDENT_GRADES] AS TGT	
				USING @Grade AS SRC
					ON (TGT.[USER_ID] = SRC.[USER_ID] AND TGT.[COURSE_ID]= SRC.[COURSE_ID])
		WHEN MATCHED
			THEN
			UPDATE 
				SET		TGT.[GRADE]			=	SRC.[GRADE]	
					,	TGT.[ACTIVE_IND]			=	1
					,	TGT.MODIFIED_BY			=	SRC.[CREATED_BY]
					,	TGT.MODIFIED_DT				=	GETDATE()
			WHEN NOT MATCHED
			THEN
				INSERT ([USER_ID]
					,	[COURSE_ID]						
					,	[GRADE]	
					
					,	[ACTIVE_IND]
					,	[CREATED_BY]
					,	[CREATED_DT]
					)
				
				VALUES(	[USER_ID]
					,	[COURSE_ID]						
					,	[GRADE]
					,	1
					,	[CREATED_BY]
					,	GETDATE())
					
		; 
	


			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;				
			EXEC dbo.USP_INSERTERRORLOG	
	END CATCH
END





/****** Object:  StoredProcedure [dbo].[USP_GetStudentGrades]    Script Date: 8/25/2019 10:31:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].USP_GetStudentGrades
(
		@userid INT
	
)
AS BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION

	IF EXISTS(SELECT 1 FROM USER_ROLE_MAP  U INNER JOIN ROLES R ON R.ROLE_ID= ROLE_ID WHERE R.ROLE_NAME LIKE 'Student' )
		BEGIN
		SELECT [SG_ID] ,S.[COURSE_ID] AS courseid ,C.COURSE_NAME AS CourseName,S.[GRADE] AS Grade from [STUDENT_GRADES] S
		INNER JOIN COURCES C ON C.COURSE_ID = S.COURSE_ID AND C.ACTIVE_IND=1 AND S.ACTIVE_IND=1
		WHERE S.USER_ID =@userid
		END
			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;				
			EXEC dbo.USP_INSERTERRORLOG	
	END CATCH
END